venv/
.venv/
env/
.env
__pycache__/
*.py[cod]
*.pyc
data/raw_pdfs/
data/chroma_db/
.DS_Store
.vscode/
chroma_db/
backend/uploaded_pdfs/
uploaded_pdfs/
*.pdf
*.db
frontend/evaluation/retrieval_report.md