streamlit
fastapi
uvicorn
pymupdf
langchain
langchain-community
chromadb
sentence-transformers
groq
python-dotenv
langchain-groq
pandas
numpy
scikit-learn
python-multipart
langchain-text-splitters
pytest